body {
  background-color: #FAFAFA;
}

.container{
  height: 200px;
  background-color: #FFF000;
  text-align: center;
}

.centrecont{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/*h1.title {
  text-align: center;
  color: #795548;
  font-family: Montserrat, Roboto, Helvetica, sans-serif;
}*/
