body {
  background-color: #FAFAFA;
}

h2.title {
  text-align: center;
  color: #2196F3;
  font-family: Montserrat, Roboto, Helvetica, sans-serif;
}

h4 {
  text-align: center;
  color: black;
  font-family: "Roboto Light", Roboto, Helvetica, sans-serif;
}

a.button-reminder {
  background-color: #4285f4;
  border: none;
  color: white;
  padding: 15px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 100%;
  font-family: Roboto, sans-serif;
  cursor: default;
  border-radius: 2px;
  transition: all 0.2s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

a.button-reminder:hover{
  background-color: #7AC0F8;
  width: 110px;
}

a.button-reminder:active {
  background-color: #104A79;
}
