body {background-color: #FAFAFA;}

h2.title {
  text-align: center;
  color: #2196F3;
  font-family: Montserrat, Roboto, Helvetica, sans-serif;
}

h4 {
  text-align: center;
  color: black;
  font-family: "Meiryo", "Noto Sans", "ＭＳ Ｐゴシック", "MS PGothic", "Roboto Light", Roboto, Helvetica, sans-serif;
}

a.button {
  border: none;
  color: white;
  padding: 15px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 100%;
  font-family: Roboto, sans-serif;
  cursor: default;
  border-radius: 2px;
  transition: all 0.2s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

a.button:hover {width: 160px;}

/*BUTTON COLORS*/
/*blue*/
a.button.blue{background-color: #4285f4;}
a.button.blue:hover{background-color: #7AC0F8;}
a.button.blue:active {background-color: #104A79;}
