@import url('https://rsms.me/inter/inter.css');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}

.bg-img {
    height: 100%;
    background-color: #222222;
    background-image: url(testbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 1s;
}

.main-overlay {
    height: 100%;
    width: 50%;
    transition: width 0.5s, background-color 0.5s;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 25px 6%; /* was 75px */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-container {
    /* background-color: yellow; */
    height: 0;
    box-sizing: border-box;
}

.header-contents {
    /* background-color: rgba(0, 255, 0, 0.5); */
    /* height: 50px; */
    cursor: default;
}

.navigation {
    display: inline-block;
    margin: 0 5px 0 10px;
}

.navigation a {
    color: white;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
    /* transition: font-weight 0.25s; */
}

.navigation:hover a {
    opacity: 1;
}

.navigation:first-child {
    margin-left: 0;
}

.navigation:last-child {
    margin-right: 0;
}

.nav-indicatorline {
    background-color: white;
    height: 2px;
    border-radius: 1px;
    margin-top: 5px;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.25s;
}

.navigation.active a {
    opacity: 1;
    font-weight: 600;
}

.navigation.active .nav-indicatorline {
    opacity: 1;
    transform: unset;
}

.main-logo {
    display: block;
    height: 80px;
}

h1 {
    margin: 12px 0 5px 0;
    /* background-color: yellow; */
    /* color: white; */
}

h1 span {
    display: inline-block;
    width: 0;
    overflow: hidden;
    vertical-align: top;
    transition: width 0.5s;
}

h1:hover span {
    width: 8ch;
}

h2 {
    margin: 5px 0 0 0;
    /* color: white; */
    font-weight: 300;
    font-size: 1.25em;
}

.footer-container {
    /* background-color: yellow; */
    height: 0;
}

@media only screen and (max-width: 750px) {
    .main-overlay {
        width: 100%;
    }
}