body {background-color: #FAFAFA;}

h1.title {
  text-align: center;
  color: #795548;
  font-family: Montserrat, Roboto, Helvetica, sans-serif;
}

h4.time {
  text-align: center;
  color: black;
  font-family: "Roboto Bold", Roboto, Helvetica, sans-serif;
  margin-bottom: 0;
}

h4.date {
  text-align: center;
  color: black;
  font-family: "Roboto Light", Roboto, Helvetica, sans-serif;
  margin-top: 0;
}

h4.instruction {
  text-align: center;
  color: #BDBDBD;
  font-family: Roboto, Helvetica, sans-serif;
  font-style: italic;
}

a.button {
  border: none;
  color: white;
  padding: 15px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 100%;
  font-family: Roboto, Helvetica, sans-serif;
  cursor: default;
  border-radius: 2px;
  transition: all 0.2s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

a.button:hover {width: 160px;}

/*BUTTON COLORS*/
/*blue*/
a.button.blue{background-color: #4285f4;}
a.button.blue:hover{background-color: #7AC0F8;}
a.button.blue:active {background-color: #104A79;}
/*green*/
a.button.green{background-color: #4CAF50;}
a.button.green:hover{background-color: #94CF96;}
a.button.green:active{background-color: #255727;}
/*red*/
a.button.red{background-color: #F44336;}
a.button.red:hover{background-color: #F98E86;}
a.button.red:active{background-color: #79211A;}
